<footer class="text-center text-lg-start border-top border-light">
  <div class="container d-flex justify-content-center py-2">
    <button type="button" class="btn btn-white btn-lg btn-floating text-yellow">
      <i class="fab fa-facebook-f"></i>
    </button>
    <button type="button" class="btn btn-white btn-lg btn-floating text-yellow">
      <i class="fab fa-youtube"></i>
    </button>
    <button type="button" class="btn btn-white btn-lg btn-floating text-yellow">
      <i class="fab fa-instagram"></i>
    </button>
    <button type="button" class="btn btn-white btn-lg btn-floating text-yellow">
      <i class="fab fa-twitter"></i>
    </button>
  </div>

  <div class="text-center text-black p-3 bg-light">
    © 2022 Copyright:
    <a class="text-black" href="https://behajmespolu.com/">BehajmeSpolu.com</a>
  </div>
</footer>
